{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2 class="dashboard-title">
        Welcome {{ student.user.first_name }}
    </h2>

    <div class="row g-4">

        <div class="col-md-3">

            <div class="card-box text-center">

                <h5>Total Notes</h5>

                <div class="stat-number">
                    {{ total_notes }}
                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card-box text-center">

                <h5>Total Quizzes</h5>

                <div class="stat-number">
                    {{ total_quizzes }}
                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card-box text-center">

                <h5>Average Score</h5>

                <div class="stat-number">
                    {{ avg_score }}%
                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card-box text-center">

                <h5>Last Score</h5>

                <div class="stat-number">
                    {{ last_score }}%
                </div>

            </div>

        </div>

    </div>

    <div class="mt-5">

        <a href="/student/notes/"
        class="btn btn-primary me-3">

            Upload Notes

        </a>

        <a href="/quiz/"
        class="btn btn-success me-3">

            Generate Quiz

        </a>

        <a href="/progress/"
        class="btn btn-dark">

            View Progress

        </a>

    </div>

</div>

{% endblock %}